@model  PaginatedList<Cinema.Domain.Entities.News>
@{
    ViewData["Title"] = "News";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Hero -->
<section class="section section-lg bg-info overlay-dark text-white" data-background="assets/img/hero.jpg" style="background-image: url(&quot;assets/img/hero.jpg&quot;);">
    <div class="container">
        <div class="row justify-content-center pt-5">
            <div class="col-12">
                <!-- Heading -->
                <h1 class="display-2">Our<span class="font-weight-light"> latest news</span></h1>
            </div>
        </div>
    </div>
</section>
<!-- End of Hero section -->
<div class="section section-md pt-5">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-lg-9">
                @foreach (var newsItem in Model)
                {
                    <!-- Article -->
                    <div class="blog-card mb-4">
                        <div class="card shadow-soft border-soft p-0 p-md-4">
                            <div class="card-header pb-2">
                                <div class="post-meta">
                                    <div class="media d-block d-md-flex justify-content-between">
                                        <div>
                                            <a href="#" class="font-small font-weight-bold"><img class="avatar-sm img-fluid rounded-circle mr-2" src="~/img/avatar-default.png" alt="avatar">@(newsItem.Author.FirstName + " " + newsItem.Author.LastName) </a><span class="d-none d-md-inline font-small ml-1 font-weight-light">@newsItem.CreatedAt.ToShortDateString()</span>
                                        </div>
                                        <div class="align-items-center d-none d-lg-flex">
                                            <!-- <span class="font-small mr-4">97 shares</span> -->
                                            <ul class="social-buttons list-style-none d-flex">
                                                <li class="mr-3"><a href="#" target="_blank" class="btn btn-lg btn-link btn-twitter text-twitter"><i class="fab fa-twitter text-lg" data-toggle="tooltip" data-placement="top" title="" data-original-title="Share on Twitter"></i></a></li>
                                                <li class="mr-3"><a href="#" target="_blank" class="btn btn-lg btn-link btn-facebook text-facebook"><i class="fab fa-facebook" data-toggle="tooltip" data-placement="top" title="" data-original-title="Share on Facebook"></i></a></li>
                                                <li class="mr-3"><a href="#" target="_blank" class="btn btn-lg btn-link btn-dribbble text-instagram"><i class="fab fa-instagram" data-toggle="tooltip" data-placement="top" title="" data-original-title="Post on Instagram"></i></a></li>
                                                <li><a href="#" target="_blank" class="btn btn-lg btn-link btn-dribbble text-reddit p-0 m-0"><i class="fab fa-reddit" data-toggle="tooltip" data-placement="top" title="" data-original-title="Share on Reddit"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body py-3">
                                @*<a href="#"><img src="@newsItem.Image" class="card-img-top" alt="image"></a>*@
                                <div class="align-items-center d-flex d-lg-none mt-3">
                                    <!-- <span class="font-small mr-4">97 shares</span> -->
                                    <ul class="social-buttons list-style-none d-flex">
                                        <li class="mr-3"><a href="#" target="_blank" class="btn btn-lg btn-link btn-twitter text-twitter"><i class="fab fa-twitter text-lg" data-toggle="tooltip" data-placement="top" title="" data-original-title="Share on Twitter"></i></a></li>
                                        <li class="mr-3"><a href="#" target="_blank" class="btn btn-lg btn-link btn-facebook text-facebook"><i class="fab fa-facebook" data-toggle="tooltip" data-placement="top" title="" data-original-title="Share on Facebook"></i></a></li>
                                        <li class="mr-3"><a href="#" target="_blank" class="btn btn-lg btn-link btn-dribbble text-instagram"><i class="fab fa-instagram" data-toggle="tooltip" data-placement="top" title="" data-original-title="Post on Instagram"></i></a></li>
                                        <li><a href="#" target="_blank" class="btn btn-lg btn-link btn-dribbble text-reddit p-0 m-0"><i class="fab fa-reddit" data-toggle="tooltip" data-placement="top" title="" data-original-title="Share on Reddit"></i></a></li>
                                    </ul>
                                </div>
                                <div class="mt-2 mt-lg-5">
                                    <a href="#" class="badge badge-sm badge-secondary text-uppercase">@newsItem.Type.Name</a> 
                                    <a asp-action="Single" asp-route-title="@newsItem.Title.Replace(' ','-')"><h2 class="mt-3 mb-4">@newsItem.Title</h2></a></div>
                                <p class="card-text mb-0 mb-lg-4">@newsItem.Description</p>
                            </div>
                            <div class="card-footer mx-4 px-0 pt-0">
                                <div class="d-flex align-items-center justify-content-between">
                                    <div class="post-meta"></div><span class="text-italic">5 min read</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End of article -->
                }

                <div class="mt-4">
                    @{
                        var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
                        var nextDisabled = !Model.HasNextPage ? "disabled" : "";
                    }

                    <a asp-action="LatestNews"
                        asp-route-pageNumber="@(Model.PageIndex - 1)"
                        class="btn btn-default @prevDisabled">
                        Previous
                    </a>
                    <a asp-action="LatestNews"
                        asp-route-pageNumber="@(Model.PageIndex + 1)"
                        class="btn btn-default @nextDisabled">
                        Next
                    </a>
                </div>

            </div>
            <aside class="col-12 col-lg-3 mt-3 mt-lg-0 d-none d-lg-block">
                <partial name="Components/EventTypes" for="@ViewData["EventTypes"]" />
                <partial name="Components/RecentEvents" for="@ViewData["RecentEvents"]" />
            </aside>
        </div>
    </div>
</div>
<!-- End of section -->
