@model PaginatedList<Cinema.DTO.ViewModels.Users.ApplicationUserIndexVM>

@{
    ViewData["Title"] = "Index";
}
    <section asp-authorize asp-roles="@Roles.Administrator">
        <div class="container">
            <div class="content-wrap">
                <div class="row">
                    <div class="col-md-12">
                        <h1>
                            Staff
                            <a class="btn btn-primary btn-sm" asp-action="Create">Add New</a>
                        </h1>

                        <form asp-action="Index" method="get" class="m-b-30">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="input-group">
                                        <input type="text" class="form-control" name="SearchString" value="@Model.CurrentFilter" placeholder="Search for...">
                                        <span class="input-group-btn">
                                            <button type="submit" class="btn btn-default">Search</button>
                                            <a class="btn btn-xs" asp-action="Index">Back to Full List</a>
                                        </span>
                                    </div><!-- /input-group -->
                                </div>
                            </div>
                        </form>
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>
                                            <a asp-action="Index" asp-route-sortOrder="@Model.CurrentSortOrder" asp-route-sortProperty="FirstName" asp-route-currentFilter="@Model.CurrentFilter">@Html.DisplayNameFor(model => model[0].FirstName)</a>
                                        </th>
                                        <th>
                                            <a asp-action="Index" asp-route-sortOrder="@Model.CurrentSortOrder" asp-route-sortProperty="LastName" asp-route-currentFilter="@Model.CurrentFilter">@Html.DisplayNameFor(model => model[0].LastName)</a>
                                        </th>
                                        <th>
                                            <a asp-action="Index" asp-route-sortOrder="@Model.CurrentSortOrder" asp-route-sortProperty="Role" asp-route-currentFilter="@Model.CurrentFilter">@Html.DisplayNameFor(model => model[0].Role.Name)</a>
                                        </th>       
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.FirstName)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.LastName)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Role.Name)
                                            </td>
                                            <td style="min-width:200px;">
                                                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary btn-xs">Details</a>
                                                <a asp-authorize asp-roles="@Roles.Administrator" class="btn btn-warning btn-xs" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                                                <a asp-authorize asp-roles="@Roles.Administrator" class="btn btn-danger btn-xs" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        @{
                            var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
                            var nextDisabled = !Model.HasNextPage ? "disabled" : "";
                        }

                        <a asp-action="Index"
                           asp-route-sortOrder="@Model.CurrentSortOrder"
                           asp-route-sortProperty="@Model.CurrentSort"
                           asp-route-pageNumber="@(Model.PageIndex - 1)"
                           asp-route-currentFilter="@Model.CurrentFilter"
                           class="btn btn-default @prevDisabled">
                            Previous
                        </a>
                        <a asp-action="Index"
                           asp-route-sortOrder="@Model.CurrentSortOrder"
                           asp-route-sortProperty="@Model.CurrentSort"
                           asp-route-pageNumber="@(Model.PageIndex + 1)"
                           asp-route-currentFilter="@Model.CurrentFilter"
                           class="btn btn-default @nextDisabled">
                            Next
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>