@page "{id:int?}/{date:long?}" 
@model Cinema.Web.Pages.ReservationTickets.IndexModel
@{
    ViewData["Title"] = "Reservation form";

}



<section class="showing-now">
    <div class="container">
        <h1>Reservation form</h1>
        <div class="row">
            <div class="col-md-12">

               
                <ul>
                    <li>ID: @Model.CurrentHall.Id</li>
                    <li>Hall Name: @Model.CurrentHall.Name</li>
                    <li>Number of columns: @Model.CurrentHall.NumberOfColumns</li>
                    <li>Number of rows: @Model.CurrentHall.NumberOfRows</li>
                    @*<li>Available seats: @Model.currentHall.Seats</li>*@
                    @*<li>Time of the Screening: @Model.ScreeningDate</li>>*@
                </ul>

                <h3>Details of screening that was picked:</h3>
                
                <ul>
                    <li>Screening id: @Model.CurrentScreening.Id</li>
                    <li>Screening Movie title: @Model.CurrentScreening.Movie.Title</li>
                    <li>Screening Movie Duration: @Model.CurrentScreening.Movie.Duration</li>
                </ul>
                
                <h3>Current reserved seats for selected hall and screening</h3>
                <ul style="display:none;">
                    @foreach (var item in Model.ScreeningSeats)
                    {
                    <li>Seat Number: @item.SeatNumber</li>
                    <li>Reserved:  @item.Reserved</li>
                    }
                </ul>
                <div id="seat-map" data-rows="@Model.CurrentHall.NumberOfRows" data-columns="@Model.CurrentHall.NumberOfColumns" data-reserved-seats="@Model.ReservedSeats" data-ticket-cat="@Model.PricingTier.Name" data-ticket-price="@Model.PricingTier.Price"></div>
                <form method="post" class="booking-details">
                    <h2>Booking Details</h2>
                    <h3> Selected Seats (<span id="counter">0</span>):</h3>
                    <ul id="selected-seats">
                    </ul>
                    Total: <b>$<span id="total">0</span></b>
                    <input type="submit" value="Checkout" class="btn btn-danger checkout-button" />
                    <div id="legend"></div>
                    <input asp-for="SelectedSeats" />
                </form>
            </div>
        </div>
    </div>
</section>