@model Cinema.DTO.ViewModels.NowShowing.NowShowingDetailsVM
@using Microsoft.AspNetCore.Identity
@using Cinema.Domain.Entities.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Movie Details (ID:  @Html.DisplayFor(model => model.Id))</h1>

                <div>
                    <hr />
                    <dl class="row">
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Title)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Title)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Year)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Year)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Actors)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Actors)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Country)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Country)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Directors)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Directors)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Duration)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Duration)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.GenreMovies)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.GenreMovies)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.VideoLink)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.VideoLink)
                        </dd>
                    </dl>
                    <h4>Screening times</h4>
                    <dl>
                        @foreach (var item in Model.Screenings)
                        {
                            <dt class="col-sm-2">
                                @Html.DisplayFor(modelItem => item.Hall.Name)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(modelItem => item.DateAndTime)
                            </dd>
                            <dd>
                                @if (SignInManager.IsSignedIn(User))
                                {
                                    <a asp-action="Index" asp-controller="Reservations" asp-route-id="@item.Hall.Id" asp-route-date="@item.DateAndTime.Ticks">Reserve tickets</a>
                                }
                            </dd>
                        }
                    </dl>
                </div>
                <div>
                    <a asp-action="Index">Back to List</a>
                </div>
            </div>
        </div>
    </div>
</section>