@model Cinema.Models.ViewModels.Events.EventCreateVM
@{
    ViewData["Title"] = "Create";
}
<div class="section section-md" asp-roles="@Roles.ContentEditor,@Roles.Administrator">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>Add New Event</h1>

                <div class="row">
                    <div class="col-12 col-lg-12">
                        <form enctype="multipart/form-data" method="post" class="card shadow-soft border p-4 mb-4">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="row">
                                <div class="form-group">
                                    <input asp-for="AuthorId" hidden />
                                </div>
                                <div class="col-12 col-lg-6">
                                    <div class="form-group">
                                        <label asp-for="Title" class="control-label"></label>
                                        <input asp-for="Title" class="form-control shadow-soft" id="Title" placeholder="Title" />
                                        <span asp-validation-for="Title" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-12 col-lg-6">
                                    <div class="form-group">
                                        <label asp-for="DateAndTime" class="control-label">Date and time of the event</label>
                                        <input asp-for="DateAndTime" class="form-control shadow-soft" id="@nameof(Model.DateAndTime)" placeholder="Event date and time" />
                                        <span asp-validation-for="DateAndTime" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-12 col-lg-6">
                                    <div class="form-group">
                                        <label asp-for="Promoter" class="control-label"></label>
                                        <input asp-for="Promoter" class="form-control shadow-soft" id="@nameof(Model.Promoter)" placeholder="@nameof(Model.Promoter)" />
                                        <span asp-validation-for="Promoter" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-12 col-lg-6">
                                    <div class="form-group">
                                        <label asp-for="EventTypeId" class="control-label">Event Type</label>
                                        <select asp-for="EventTypeId" class="form-control shadow-soft" id="@nameof(Model.EventTypeId)" placeholder="Event Type"
                                                asp-items="@Model.EventTypes">
                                            <option value="">-- Select event type --</option>
                                        </select>
                                        <span asp-validation-for="EventTypeId" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-12 col-lg-12">
                                    <div class="form-group">
                                        <label asp-for="Description" class="control-label"></label>
                                        <textarea asp-for="Description" rows="10" class="form-control shadow-soft" id="@nameof(Model.Description)" placeholder="@nameof(Model.Description)"></textarea>
                                        <span asp-validation-for="Description" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>                            
                            <div class="row">
                                <div class="col">
                                    <button class="btn btn-primary btn-dark mt-2 animate-up-2" asp-action="Index">Back to list</button>
                                    <button type="submit" class="btn btn-primary btn-gray mt-2 animate-up-2">Create</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
