@model Cinema.Domain.Entities.Event
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{ 
    ViewData["Title"] = Model.Title;
}
<!-- End of Hero section -->
<div class="section section-md mt-5">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-lg-9 pr-lg-4">
                <article>
                    <header>
                        <div class="row">
                            <div class="col-12 col-lg-2">
                                <div class="post-group d-none d-lg-flex flex-column align-items-center">
                                    <a href="#" class="text-center">
                                        <img class="avatar-lg avatar-sm-lg img-fluid rounded-circle mb-2" src="@Model.Image" alt="avatar">
                                        <div class="font-small text-center"><span class="text-gray">By</span>@Model.Author.FullName</div>
                                    </a><a class="btn btn-sm btn-secondary mt-2 mb-4 animate-up-1" href="#"><span class="fas fa-user-plus mr-1 d-none d-xl-inline"></span> Follow</a>
                                    <p class="font-small font-weight-light text-center mb-2">
                                        Published:
                                        <time datetime="2009-10-09">@Model.CreatedAt.ToShortDateString()</time>
                                    </p>
                                </div>
                                <div class="d-flex align-items-center d-lg-none mb-4">
                                    <a href="#" class="font-small font-weight-bold mr-2"><img class="avatar-sm img-fluid rounded-circle mr-2" src="~/img/avatar-default.png" alt="avatar"> @Model.Author.FullName </a>
                                </div>
                            </div>
                            <div class="col-11 col-lg-9">
                                <h1 class="mb-2 mb-lg-4">@Model.Title</h1>
                                <p class="d-lg-none font-small font-weight-light mb-4">
                                    Published:
                                    <time datetime="2009-10-09">@Model.CreatedAt.ToShortDateString()</time>
                                </p>
                                <h2 class="text-gray font-medium font-weight-light">@Model.Type.Name</h2>
                            </div>
                            <div class="col-1">
                                <ul class="social-buttons list-style-none d-flex align-items-end flex-column">
                                    <li class="mb-2"><a href="#" target="_blank" class="btn btn-lg btn-link btn-twitter text-twitter"><i class="fab fa-twitter text-lg" data-toggle="tooltip" data-placement="top" title="" data-original-title="Share on Twitter"></i></a></li>
                                    <li class="mb-2"><a href="#" target="_blank" class="btn btn-lg btn-link btn-facebook text-facebook"><i class="fab fa-facebook" data-toggle="tooltip" data-placement="top" title="" data-original-title="Share on Facebook"></i></a></li>
                                    <li class="mb-2"><a href="#" target="_blank" class="btn btn-lg btn-link btn-dribbble text-instagram"><i class="fab fa-instagram" data-toggle="tooltip" data-placement="top" title="" data-original-title="Post on Instagram"></i></a></li>
                                    <li><a href="#" target="_blank" class="btn btn-lg btn-link btn-dribbble text-reddit p-0 m-0"><i class="fab fa-reddit" data-toggle="tooltip" data-placement="top" title="" data-original-title="Share on Reddit"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </header>
                    <div class="my-5">
                        <p>@Model.Description</p>
                        <footer class="mt-5">
                            <div class="row mb-5">
                                <div class="col-9">
                                    @*<div class="wi-tags"><a href="#">themes</a> <a href="#">pixel</a> <a href="#">bootstrap 4</a> <a href="#">gulp</a> <a href="#">you're awesome</a> <a href="#">pizza</a> <a href="#">unusuallylongtagname_123!#</a></div>*@
                                </div>
                                <div class="col-3">
                                    <ul class="social-buttons list-style-none d-flex justify-content-end">
                                        <li class="mr-3 text-right"><a href="#" target="_blank" class="btn btn-lg btn-link btn-twitter text-twitter"><i class="fab fa-twitter text-lg" data-toggle="tooltip" data-placement="top" title="" data-original-title="Share on Twitter"></i></a></li>
                                        <li class="mr-3"><a href="#" target="_blank" class="btn btn-lg btn-link btn-facebook text-facebook"><i class="fab fa-facebook" data-toggle="tooltip" data-placement="top" title="" data-original-title="Share on Facebook"></i></a></li>
                                        <li class="mr-3"><a href="#" target="_blank" class="btn btn-lg btn-link btn-dribbble text-instagram"><i class="fab fa-instagram" data-toggle="tooltip" data-placement="top" title="" data-original-title="Post on Instagram"></i></a></li>
                                        <li><a href="#" target="_blank" class="btn btn-lg btn-link btn-dribbble text-reddit p-0 m-0"><i class="fab fa-reddit" data-toggle="tooltip" data-placement="top" title="" data-original-title="Share on Reddit"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            @*<aside class="row mb-4">
                                <div class="col-12">
                                    <h4 class="mb-4">Related news</h4>
                                    <div class="row">
                                        @foreach (var eventsItem in recentEvents)
                                        {
                                            <div class="col-12 col-lg-4">
                                                <div class="blog-card">
                                                    <div class="card border-0" data-equalize-height="related-news" style="height: 472.547px;">
                                                        <a asp-action="Single" asp-route-title="@eventsItem."><img src="assets/img/image-1.jpg" class="card-img-top" alt="Related news image 1"></a>
                                                        <div class="card-body px-0">
                                                            <small class="d-block mb-2">January 20, 2019</small>
                                                            <h2 class="h5"><a href="#">Buy Spaces</a></h2>
                                                            <p class="card-text my-2">Here's a shorter text</p>
                                                        </div>
                                                        <div class="card-footer px-0 pt-0"><a class="btn btn-sm btn-block btn-primary animate-up-2" href="#"><span class="fas fa-book-open mr-1"></span> Read More</a></div>
                                                    </div>
                                                </div>
                                            </div>
                                        }

                                    </div>
                                </div>
                            </aside>*@
                           
                        </footer>
                    </div>
                </article>
            </div>
            <aside class="col-12 col-lg-3 mt-3 mt-lg-0 d-none d-lg-block">
                <partial name="Components/NewsTypes" for="@ViewData["NewsTypes"]" />
                <partial name="Components/RecentNews" for="@ViewData["RecentNews"]" />
            </aside>
        </div>
    </div>
</div>
<!-- End of section -->