@model List<Cinema.DTO.ViewModels.Movies.MovieIndexVM>

@{
    ViewData["Title"] = "Index";
}
    <section asp-authorize asp-roles="@Roles.Administrator">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>Movies</h1>
                    <p>
                        <a asp-action="Create">Add New</a>
                    </p>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model[0].Title)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model[0].Duration)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model[0].Actors)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model[0].Year)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model[0].Country)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model[0].Image)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model[0].VideoLink)
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Title)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Duration)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Actors)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Year)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Country)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Image)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.VideoLink)
                                    </td>
                                    <td style="min-width:200px;">
                                        <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                                        <a asp-authorize asp-roles="@Roles.Administrator" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                                        <a asp-authorize asp-roles="@Roles.Administrator" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>