@model PaginatedList<Cinema.DTO.ViewModels.Movies.NowShowingIndexVM.Row>
@{
    ViewData["Title"] = "NowShowing";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var count = 0;
}

<section class="showing-now">
    <div class="container">
        <div class="content-wrap">
            <h1>Now showing</h1>
            <div class="row">
                <div class="col-md-12">
                    <form method="post" class="form form-inline m-b-30" id="MovieDatePicker">
                        <div class="form-group">
                            <label class="control-label" for="ScreeningDate">Filter movies by Date</label>
                            <input type="text" id="ScreeningDate" name="filterDate" class="form-control" />
                        </div>
                        <div class="form-group">
                            <input class="btn btn-primary btn-dateFilter" placeholder="Click for calendar" name="submit" type="submit" value="Search" />
                        </div>
                    </form>
                </div>
            </div>
            <div class="row">
                @foreach (var item in Model)
                {
                    count++;
                    <div class="col-md-4">
                        <div class="screening">
                            <a href="/case-studies/selling-your-amazon-business">
                                <img src="~/img/placehold.png" data-title="@item.MovieTitle" class="img-responsive center-block screening-image" alt="@item.MovieTitle">
                            </a>
                            <h3 class="h5">
                                <a asp-action="NowShowingDetails" asp-route-id="@item.MovieId">@item.MovieTitle</a>
                            </h3>
                            <p>@item.MovieActors</p>
                            <a asp-action="NowShowingDetails" asp-route-id="@item.MovieId" class="btn btn-primary btn-block">Get Tickets</a>
                        </div>
                    </div>
                    @if (count == 3)
                    {
                        count = 0;
                        <div class="clearfix"></div>
                    }
                }
            </div>
            <div class="row">
                <div class="col-md-12">
                    @{
                        var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
                        var nextDisabled = !Model.HasNextPage ? "disabled" : "";
                    }

                    <a asp-action="NowShowing"
                       asp-route-sortOrder="@ViewData["CurrentSort"]"
                       asp-route-pageNumber="@(Model.PageIndex - 1)"
                       asp-route-currentFilter="@ViewData["CurrentFilter"]"
                       class="btn btn-default @prevDisabled">
                        Previous
                    </a>
                    <a asp-action="NowShowing"
                       asp-route-sortOrder="@ViewData["CurrentSort"]"
                       asp-route-pageNumber="@(Model.PageIndex + 1)"
                       asp-route-currentFilter="@ViewData["CurrentFilter"]"
                       class="btn btn-default @nextDisabled">
                        Next
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>


@section Scripts {
    <script>
    jQuery(document).ready(function () {
        jQuery('.screening-image').each(function () {
            var getTitle = jQuery(this).data("title");
            var $this = jQuery(this);
            $.get("https://www.omdbapi.com/?apikey=f4ff906b&t=" + getTitle, function (data) {
            if (data.Poster != "N/A") {
                $this.attr("src", data.Poster)
            } else {
                console.log("No image found.");
            }
        })
        });
    });
    </script>
}