@model Cinema.Dto.ViewModels.Movies.NowShowingDetailsVM
@using Microsoft.AspNetCore.Identity
@using Cinema.Domain.Entities.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
    bool first = true;
    DateTime currentDate = DateTime.Now;
}



<!-- Hero -->
<div class="section section-header bg-primary overlay-dark text-white rounded overflow-hidden" data-background="../../assets/img/hero.jpg" style="background-image: url(&quot;../../assets/img/hero.jpg&quot;);">
    <div class="container">
        <div class="row justify-content-center pt-5">
            <div class="col-12">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb breadcrumb-transparent">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item"><a href="/NowShowing">Now Showing</a></li>
                        <li class="breadcrumb-item active" aria-current="page">@Model.Title</li>
                    </ol>
                </nav>
                <!-- Heading -->
                <h1 class="display-2"><span class="font-weight-light">@Model.Title</span></h1>
                <!-- Text -->
                @*<p class="lead text-muted mt-4">
                    12,000+ coworking spaces with desks, offices &amp; meeting rooms in 165+ countries.
                    <br>Discover and reserve space today.
                </p>*@
            </div>
        </div>
    </div>
</div>
<div class="section pt-5 pt-lg-6">
    <div class="container">
        <div class="row">
            <div class="col">
                <!-- Tab -->
                <nav>
                    <div class="nav nav-tabs flex-column flex-md-row shadow-soft border-soft mb-3" id="nav-tab" role="tablist">
                        <a class="nav-item nav-link active" id="nav-about-tab" data-toggle="tab" href="#nav-about" role="tab" aria-controls="nav-about" aria-selected="true"><i class="far fa-address-card"></i>About</a> 
                        <a class="nav-item nav-link" id="nav-video-tab" data-toggle="tab" href="#nav-video" role="tab" aria-controls="nav-video" aria-selected="false"><i class="far fa-play-circle"></i>Video</a> 
                    </div>
                </nav>
                <!-- About Tab -->
                <div class="tab-content mt-5 mb-3" id="nav-tabContent">
                    <div class="tab-pane fade active show" id="nav-about" role="tabpanel" aria-labelledby="nav-about-tab">
                        <h2 class="font-weight-normal">@Html.DisplayFor(model => model.Title)</h2>
                        <div class="d-block d-md-flex">
                            <h6 class="text-secondary font-weight-light"><i class="fas fa-check-circle mr-1 pr-1"></i>Verified</h6><span class="lh-120 ml-md-4"><i class="fas fa-star mr-1 pr-1"></i>@Model.AverageRating<a data-fancybox="" href="#" target="_blank" rel="noopener noreferrer" class="text-primary ml-md-3 imdb-link">Imdb</a></span>
                        </div>
                        <div class="my-5">

                            <div class="row">
                                <div class="col-sm-4">
                                    <img id="movie-poster" class="pull-left" src="~/img/movie-poster.png" />
                                </div>
                                <div class="col-sm-8">
                                    <ul class="list-unstyled movie-info">
                                        <li>
                                            <span>@Html.DisplayNameFor(model => model.Title)</span>
                                            @Html.DisplayFor(model => model.Title)
                                        </li>
                                        <li>
                                            <span>@Html.DisplayNameFor(model => model.Year)</span>
                                            @Html.DisplayFor(model => model.Year)
                                        </li>
                                        <li>
                                            <span>@Html.DisplayNameFor(model => model.Actors)</span>
                                            @Html.DisplayFor(model => model.Actors)
                                        </li>
                                        <li>
                                            <span>@Html.DisplayNameFor(model => model.Country)</span>
                                            @Html.DisplayFor(model => model.Country)
                                        </li>
                                        <li>
                                            <span>@Html.DisplayNameFor(model => model.Directors)</span>
                                            @Html.DisplayFor(model => model.Directors)
                                        </li>
                                        <li>
                                            <span>@Html.DisplayNameFor(model => model.Duration)</span>
                                            @Html.DisplayFor(model => model.Duration)
                                        </li>
                                        @*<li>
                                            <span>@Html.DisplayNameFor(model => model.GenreMovies)</span>
                                            @Html.DisplayFor(model => model.GenreMovies)
                                        </li>*@
                                        <li>
                                            <span>@Html.DisplayNameFor(model => model.VideoLink)</span>
                                            @Html.DisplayFor(model => model.VideoLink)
                                        </li>
                                    </ul>

                                    Average rating <span id="now-showing-details-average-rating-div" class="badge">@Model.AverageRating</span>
                                    <hr />

                                    <div asp-authorize asp-roles="@($"{Roles.User},{Roles.Administrator}")">

                                        Your rating:

                                        <div id="now-showing-details-rating-div">
                                            @await Component.InvokeAsync("Review", new { review = @Model.CurrentUserReview })
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        @*<p>We dont have a movie description???</p>*@
                        @*<div class="row shadow-sm mt-5">
                            <div class="col-6 col-xl-3 card bg-soft">
                                <div class="card-body text-center">
                                    <div class="icon"><i class="far fa-calendar-alt"></i></div>
                                     Heading 
                                    <p class="font-weight-normal h4 mt-3 mb-0"><span class="counter text-dark mr-2">1</span>Year</p>
                                     Text 
                                    <p class="text-muted mb-0">Minimum term</p>
                                </div>
                            </div>
                            <div class="col-6 col-xl-3 card bg-soft border-left">
                                <div class="card-body text-center">
                                    <div class="icon"><i class="fas fa-ruler-combined"></i></div>
                                     Heading 
                                    <p class="font-weight-normal mt-3 mb-0 h4"><span class="counter text-dark mr-2">180</span>SqFt</p>
                                     Text 
                                    <p class="text-muted mb-0">Space size</p>
                                </div>
                            </div>
                            <div class="col-6 col-xl-3 card bg-soft border-left">
                                <div class="card-body text-center">
                                    <div class="icon"><i class="fas fa-users"></i></div>
                                     Heading 
                                    <p class="font-weight-normal mt-3 mb-0 h4"><span class="counter text-dark mr-2">15</span>+</p>
                                     Text 
                                    <p class="text-muted mb-0">People</p>
                                </div>
                            </div>
                            <div class="col-6 col-xl-3 card bg-soft border-left">
                                <div class="card-body text-center">
                                    <div class="icon"><i class="fas fa-couch"></i></div>
                                     Heading 
                                    <p class="font-weight-normal mt-3 mb-0 h4"><span class="text-dark mr-2">Meeting</span></p>
                                     Text 
                                    <p class="text-muted mb-0">Space type</p>
                                </div>
                            </div>
                        </div>*@
                    </div>
                    <!-- End of About Tab -->
                    <!-- Video Tab -->
                    <div class="tab-pane fade" id="nav-video" role="tabpanel" aria-labelledby="nav-video-tab">
                        <iframe width="560" height="315" id="movie-trailer" src="" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                    <!-- End of Video Tab -->      
                </div>
                <!-- End of tab -->
                <div>
                    <a asp-action="NowShowing">Back to List</a>
                </div>
            </div>
            <aside class="col-12 col-lg-4 mt-3 mt-lg-0">
                <div class="card bg-soft shadow-sm border-soft p-3">
                    <h5 class="font-weight-normal">Screening times</h5>
                    <ul class="list-unstyled screening-list">
                        @foreach (var item in Model.ScreeningList)
                        {
                            @if (first == true)
                            {
                                currentDate = item.Playing.Date;
                                first = false;
                                <strong>@item.Playing.ToShortDateString()</strong>
                                
                            }

                            @if (item.Playing.Date != currentDate)
                            {
                                
                                currentDate = item.Playing.Date;
                                <strong>@item.Playing.ToShortDateString()</strong>
                                
                            }
                            <li>

                                <div class="d-flex justify-content-between mb-1">
                                    <div>
                                        @Html.DisplayFor(modelItem => item.HallName) |
                                        @item.Playing.ToShortTimeString()
                                    </div>
                                    @if (SignInManager.IsSignedIn(User))
                                    {
                                        <a asp-action="Index" asp-controller="Reservations" asp-route-screeningId="@item.ScreeningId" class="btn btn-success btn-sm">Reserve</a>
                                    }
                                </div>

                            </li>
                        }
                    </ul>
                </div>
                <div class="card shadow-sm border-soft mt-4 p-3">
                    <h5 class="font-weight-normal">Have any questions?</h5>
                    <div class="media d-flex align-items-center my-3">
                        <div class="avatar-name"><a class="text-gray" href="https://demo.themesberg.com/bootstrap/spaces/html/pages/profile.html" data-toggle="tooltip" data-placement="top" title="" data-original-title="More details">Feel free to contact us</a></div>
                    </div>
                    <!-- Button Modal -->
                    <button type="button" class="btn btn-block btn-secondary mb-3" data-toggle="modal" data-target="#modal-form">Contact us</button>
                    <!-- Modal Content -->
                    <div class="modal fade" id="modal-form" tabindex="-1" role="dialog" aria-labelledby="modal-form" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered modal-md" role="document">
                            <div class="modal-content">
                                <div class="modal-body p-0">
                                    <div class="card shadow-md border-0">
                                        <div class="card-body position-relative">
                                            <button type="button" class="close mb-2" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                            <form class="mt-3">
                                                <div class="form-group">
                                                    <div class="input-group mb-4">
                                                        <div class="input-group-prepend"><span class="input-group-text"><i class="far fa-user"></i></span></div>
                                                        <input class="form-control" placeholder="Name" type="text" required="">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="input-group mb-4">
                                                        <div class="input-group-prepend"><span class="input-group-text"><i class="far fa-envelope"></i></span></div>
                                                        <input class="form-control" placeholder="Email" type="email" required="">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <textarea class="form-control" placeholder="Write message" id="message-2" rows="4" required=""></textarea>
                                                </div>
                                                <div class="text-center">
                                                    <button type="submit" class="btn btn-block btn-primary mt-4">Send Message</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End of Modal Content -->
                </div>
            </aside>
        </div>
    </div>
</div>

@* Do we need related movies/screenings? <section class="section bg-soft">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h4 class="mb-5 font-weight-bold">Similar spaces you might like</h4>
            </div>
            <div class="col-md-6 col-lg-4">
                 Card 
                <div class="card shadow-sm border-soft mb-4 animate-up-5">
                    <a href="" class="position-relative">
                        <img src="assets/img/lifestyle-office.jpg" class="card-img-top space-image" alt="image"> <span class="badge badge-secondary position-absolute listing-badge"><span class="font-weight-normal font-xs">Lifestyle Space</span></span>
                    </a>
                    <div class="card-body">
                        <a href=""><h5 class="font-weight-normal">Lifestyle Space</h5></a>
                        <div class="post-meta"><span class="small lh-120"><i class="fas fa-map-marker-alt mr-2"></i>Madrid, Hortaleza, Spain</span></div>
                        <div class="d-flex my-4"><i class="star fas fa-star text-warning"></i> <i class="star fas fa-star text-warning"></i> <i class="star fas fa-star text-warning"></i> <i class="star fas fa-star text-warning"></i> <i class="star fas fa-star text-warning"></i> <span class="badge badge-pill badge-secondary ml-2">5.0</span></div>
                        <div class="d-flex justify-content-between">
                            <div class="col pl-0"><span class="text-muted font-small d-block mb-2">Daily</span> <span class="h5 text-dark font-weight-bold">350$</span></div>
                            <div class="col"><span class="text-muted font-small d-block mb-2">People</span> <span class="h5 text-dark font-weight-bold">10-25</span></div>
                            <div class="col pr-0"><span class="text-muted font-small d-block mb-2">Sq.Ft</span> <span class="h5 text-dark font-weight-bold">100</span></div>
                        </div>
                    </div>
                </div>
                 End of Card 
            </div>
            <div class="col-md-6 col-lg-4">
                 Card 
                <div class="card shadow-sm border-soft mb-4 animate-up-5">
                    <a href="" class="position-relative">
                        <img src="assets/img/private-office.jpg" class="card-img-top space-image" alt="image"> <span class="badge badge-warning position-absolute listing-badge"><span class="font-weight-normal font-xs">Private Space</span></span>
                    </a>
                    <div class="card-body">
                        <a href=""><h5 class="font-weight-normal">Private Space</h5></a>
                        <div class="post-meta"><span class="small lh-120"><i class="fas fa-map-marker-alt mr-2"></i>Budapest, Ferencvaros, Hungary</span></div>
                        <div class="d-flex my-4"><i class="star fas fa-star text-warning"></i> <i class="star fas fa-star text-warning"></i> <i class="star fas fa-star text-warning"></i> <i class="star fas fa-star text-warning"></i> <i class="star fas fa-star text-gray-200"></i> <span class="badge badge-pill badge-secondary ml-2">4.0</span></div>
                        <div class="d-flex justify-content-between">
                            <div class="col pl-0"><span class="text-muted font-small d-block mb-2">Monthly</span> <span class="h5 text-dark font-weight-bold">100$</span></div>
                            <div class="col"><span class="text-muted font-small d-block mb-2">People</span> <span class="h5 text-dark font-weight-bold">1</span></div>
                            <div class="col pr-0"><span class="text-muted font-small d-block mb-2">Sq.Ft</span> <span class="h5 text-dark font-weight-bold">10</span></div>
                        </div>
                    </div>
                </div>
            </div>
             End of Card 
            <div class="col-md-6 col-lg-4">
                 Card 
                <div class="card shadow-sm border-soft mb-4 animate-up-5">
                    <a href="" class="position-relative">
                        <img src="assets/img/conference-office.jpg" class="card-img-top space-image" alt="image"> <span class="badge badge-primary position-absolute listing-badge"><span class="font-weight-normal font-xs">Conference Room</span></span>
                    </a>
                    <div class="card-body">
                        <a href=""><h5 class="font-weight-normal">Conference Room</h5></a>
                        <div class="post-meta"><span class="small lh-120"><i class="fas fa-map-marker-alt mr-2"></i>Paris, La Defense, France</span></div>
                        <div class="d-flex my-4"><i class="star fas fa-star text-warning"></i> <i class="star fas fa-star text-warning"></i> <i class="star fas fa-star text-warning"></i> <i class="star fas fa-star text-warning"></i> <i class="star fas fa-star text-warning"></i> <span class="badge badge-pill badge-secondary ml-2">4.7</span></div>
                        <div class="d-flex justify-content-between">
                            <div class="col pl-0"><span class="text-muted font-small d-block mb-2">Hourly</span> <span class="h5 text-dark font-weight-bold">100$</span></div>
                            <div class="col"><span class="text-muted font-small d-block mb-2">People</span> <span class="h5 text-dark font-weight-bold">2-20</span></div>
                            <div class="col pr-0"><span class="text-muted font-small d-block mb-2">Sq.Ft</span> <span class="h5 text-dark font-weight-bold">200</span></div>
                        </div>
                    </div>
                </div>
                 End of Card 
            </div>
        </div>
    </div>
</section>*@

@section Scripts {
    <script>
    jQuery(document).ready(function () {
        $.get("https://www.omdbapi.com/?apikey=f4ff906b&t=@Model.Title", function (data) {
            if (data.Poster != "N/A") {
                jQuery("#movie-poster").attr("src", data.Poster)
                jQuery(".imdb-link").attr("href", "https://imdb.com/title/" + data.imdbID + "/");
            } else {
                console.log("No image found.");
            }
        })


        $.get("https://www.googleapis.com/youtube/v3/search?part=snippet&maxResults=1&q=@Model.Title trailer&type=video&key=AIzaSyBcUEg4NHBs3WIMj1qlEimxhTyswxgoFIU", function (data) {
            if (data.items) {
                //console.log(data.items[0].id['videoId']);
                jQuery("#movie-trailer").attr("src", "https://www.youtube.com/embed/" + data.items[0].id['videoId']);
            }
        });

    });

    function Update() {
        $.ajax({
            type: "POST",
            url: "/Reviews/SetRating/@Model.CurrentUserReview",
            data: $("form").serialize(),
            error: function (response) {
                console.log(response);
            },
            success: function (data) {
                location.reload();
            }
        })
    };
    </script>
}