@page
@model Cinema.Web.Pages.Screenings.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Screening</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Screening.DateAndTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Screening.DateAndTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Screening.Created)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Screening.Created)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Screening.Movie)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Screening.Movie.Title)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Screening.Hall)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Screening.Hall.Name)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Screening.Deleted)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Screening.Deleted)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Screening.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
